   html{
                font-size:20px;
                text-align:center;
                background-color: darkslategray;
                font-family: Arial, Helvetica, sans-serif;
                color:cadetblue;
            }
input[type="text"]{
                position:absolute;
                top:4px;
                right:30px;
                width:100px;
                border:2px solid seagreen;}
            
         h1,h2{
                color:lightblue;
                font-family:'Times New Roman', Times, serif;
                text-decoration: overline underline;
                text-shadow: 4px 3px 3px slateblue;
            }
             .box{
            background-color:darkslateblue;
            padding: 10px;
            border:0;
            margin: 15px;}
          
            p{
                text-indent: 10%;
                text-transform:lowercase;
            }

            p::first-letter{
                font-size: 150%;
                font-family: 'Times New Roman', Times, serif;
                color:turquoise;
            }
            #lastpara{
                background-color:mediumslateblue;
                color:paleturquoise;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                box-shadow: 7px 7px 5px cadetblue;
            }
            ul>li{
    color:lavender;
            }

            li:nth-child(2){
                color:paleturquoise;
                background-color:slateblue;
            }
            li:nth-child(3){
                background-color: darkslateblue;
            }
a{color:lightgreen;}
    a:hover{
        color:plum;
    }